.login-form {
  display: flex;
  width: 250px;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.12);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  flex-direction: column;
  justify-content: start;
  align-items: start;
  padding: 10px;
  background-color: #dfe3e6;

  &__buttongroup {
    display: flex;
    flex-direction: row;

    &-button {
      padding: 10px;
      margin: 5px;
    }
  }
}